@media (min-width: 1400px) {

}

@media (min-width: 1200px) {
    .container {
        width: 1023px;
    }
    .social-share {
    width: 13%;
}

.search-login {
    width: 70%;
}

.f-footer{
  color: #000;
}

}
@media (min-width: 768px)
{
  .frlogin .modal-dialog {
    width: 400px;
}
.modal-dialog.popcheck {
    width: 400px;
}
}

@media (min-width: 992px)

{
  .sky-mega-menu li li:hover .list-dm-thumb {
    display: block;
}
  ul.sky-mega-menu li i {
    display: none;
}
.sky-mega-menu li:hover .submenu
{
	display:block
}
}

@media (max-width: 1199px) {
 .box-addtocart a.buynow
  {
    float:none;
    display:inline-block;
    margin-top:10px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {

 
}

@media (min-width: 768px) and (max-width: 992px) {
  
}
@media (min-width: 480px) and (max-width: 768px) {
  
}
@media (max-width: 991px) {
  .filter-event .option-fil
  {
    width: 40%;
    margin-bottom: 5px;
  }
  .filter-event
  {
    width:70%
  }
  .title-home-event h2
  {
    width: 30%;
  }
  .ask-who-we
  {
    padding: 50px 0 0;
  }
  .share-writer
  {
    margin-top: 15px;
    margin-left: 0;
    display: block;
    float: left;
  }
  .info-gel ul li p span
  {
    margin-right:5px
  }
  .info-gel ul li p
  {
    min-height: 66px;
  }
  
  .ask-per-content
  {
    width: 95%;
  }
  .info-gel ul li p.titin
  {
    width:40%
  }
  .info-gel ul li p
  {
    width:60%
  }
  .social-share i
  {
    margin:0
  }
  
}
@media (max-width: 767px) {
  .mobmenu-toggle

 {
   top: 31px;
 }

  .li-trending{
    display: none;
  }

  .li-categories{
    display: block;
  }
 
  .li-support{
    display: block;
  }
  .footer
  {
    background: url(../images/bg-footer.png) repeat;
    padding: 4px 0;
    border-top: none;
  }
  .nextpage,.previouspage
  {
    display:none;
  }
  .form_moblie_search a.nut_searh
  {
    right:5px
  }

.fr-search {
    position: absolute;
    top: 150px;
    left: -120px;
    margin-right: 20px;
    border-bottom: 0px transparent;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    padding-bottom: 7px;
    width: 100%;
    text-align: left;
}

.fr-search form {
    position: absolute;
    top: 140px;
    left: -30px;
    border-bottom: 1px solid #999;
    margin-right: 20px;
    padding-bottom: 7px;
    width: 300px;
    text-align: left;
}

  .form_moblie_search
  {
    position:absolute;
    float: right;
    right:0;
    top: 3px;
    background: #fff;
    padding: 2px 10px;
 /*   display:;*/
/*    position: absolute;
    top: 19px;
    background: #000;
    width: 40px;
    right: 15px;
    z-index: 2;
    height: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    cursor: pointer; */
  }
  .icon-search
  {
    display: block !important;
    position: absolute;
    right: 15px;
    top: 20px;
    cursor: pointer;
    font-size: 16px;
  }

  .btn-sr{
    display: none;
  }

  .fr-search input {
    border-left: 1px solid #666;
    border-right: none;
    border-bottom: none;
    border-top: none;
    padding-left: 10px;
    font-size: 16px;
    line-height: 24px;
    width: 90%;
  }
  
  .ask-stories:nth-child(5), .ask-stories:nth-child(9), .ask-stories:nth-child(14), .ask-stories:nth-child(18)
  {
    width:50%
  }
  .image-stories p
  {
    width:90%;
    font-size: 37px;
  }
  .owl-stories .customNavigation
  {
      display:none;
  }
  .logintop ul.dropdown-menu 
  {
    right: 0 !important;
    float: right !important;
  }
  .logintop button
  {
    padding-right:0;
    display: block !important;
  }
  .social-share i
  {
    float:right;
    padding: 4px;
  }
  .social-share
  {
    position:absolute;
    right:0;
    top:0;
    width: auto;
    display: none;
  }
  .bg-tit-support h1
  {
    padding: 10px 0;
    font-size: 56px;
  }
  .main-support ul li a
  {
    width:90%
  }
  .info-gel ul
  {
    border-left:1px solid #000
  }
  .info-gel ul li:first-child p.titin, .info-gel ul li:nth-child(4) p.titin
  {
    padding-left:10px;
  }
  .info-gel ul li:nth-child(3n)
  {
    border-right:1px solid #000
  }
  .thumb-bloger,.info-bloger,.info-gel ul li
  {
    width:50%
  }
  .ask-we p.ask-we-slo,.content-parter-bot p,.ask-item-sp p
  {
    width:100%
  }
  .logo
  {
    padding: 5px 0;
    text-align: center;
  }
  .logo img{
    display:inline-block
  }
  .search-login,.menu
  {
    border:none;
  }
  .searh
  {
    /* border:1px solid #eee; */
    padding: 0 15px;
    width: 95%;
    margin: 0 15px;
  }
  .menu
  {
    position:absolute;
    top: -75px;
    width: auto;
  }
  .logintop
  {
    position:absolute;
    right:0;
    top: -53px;
    text-align: right;
  }
  .header
  {
  }
  .ask-ques
  {
    padding:20px 0
  }
  .social-footer
  {
    text-align:left
  }
  .copyright
  {
    font-size: 7px;
  }
  .social-footer,.copyright,.logo-footer
  {
    
    width:33.33333%
  }
  .social-footer i
  {
    font-size: 12px;
    margin-right: 6px;
  }
 
}

@media (max-width: 480px) {
  .thumb-art-home
  {
    height: auto !important;
  }
  .tit-artical-home h2
  {
    font-size: 21px;
  }
  .filter-event
  {
    width:100%;
    float: left;
    text-align: left;
    margin-top: 15px;
  }
  .title-home-event h2
  {
    width:100%
  }
  .info-art-home
  {
    top:0;
    bottom:auto;
    width: 100% !important;
    position: inherit;
  }
  ul.listtwo
  {
    margin-left:0;
    margin-top: 30px;
    float: left;
  }
  
  .list-art-home ul li,.weather
  {
    width: 92.7% !important;
  }
  .content-profile
  {
    margin-top:20px;
  }
  ul.tab-login li a
  {
    font-size: 20px;
  }
  ul.flowing li
  {
    margin:0 10px
  }
  .profile-edit a
  {
    padding: 5px 20px;
    font-size: 13px;
  }
  .title-who-we
  {
    margin-right:0;
  }
  .thumb-who-we
  {
    float:right;
    margin-left: 0;
    width: 130px;
  }
  .title-who-we h1
  {
    font-size: 26px;
  }
  .des-who-we
  {
    width:100%
  }

  .image-stories p
  {
    top:30%
  }
  .logo-footer
  {
    margin-top: 8px;
  }
  .title-related h2
  {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .info-gel ul li p
  {
    min-height: 47px;
  }
  .ask-item-sp
  {
    margin-top:30px
  }
  .thumb-bloger,.info-bloger
  {
    width:100%;
    position: relative;
  }
  .info-bloger
  {
    float:right
  }
  .item-colection,.item-persion,.ask-stories,.ask-wt-related,.ask-list-sp,.ask-ques-item,.ask-ques-item:nth-child(7), .ask-ques-item:nth-child(12), .thumb-bloger,.info-bloger,.info-gel ul li
  {
    width:100%;
  }
  .ask-stories:nth-child(5), .ask-stories:nth-child(9), .ask-stories:nth-child(14), .ask-stories:nth-child(18)
  {
    width:100%;
  }
  .searh
  {
    width: 91%;
  }
  .ask-per-content ul li
  {
    width: 39%;
  }
  .tit-des-we
  {
    padding:0;
    font-size: 30px;
  }
  .des-we
  {
    text-align:justify
  }
  .ask-we-partner-bot,.bannersub,.ask-support
  {
    padding:40px 0
  }
  .tit-sup-more,.ask-title-support,.main-support ul li a
  {
    width:100%
  }
  .main-support ul li a
  {
    font-size: 53px;
    padding-bottom: 0;
  }
  .bg-tit-support h1
  {
    font-size: 25px;
    width: auto;
  }
  .logintop
  {
    top: -38px;
  }
  .logintop button
  {
    padding-right:0;
    float: right;
  }
  .logo img
  {
    max-width: 59%;
  }
}



@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }


}
@media (min-width: 992px) {
  .menutop nav ul li a span:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    width: 65px;
    height: 3px;
    margin: auto;
}

.menutop nav ul li a span:hover:after {
    background: #333;
}
  .menutop nav ul li a.active,.menutop nav ul li a:hover {
    color: #000;
}
  .sub-level-menu ul li a:hover {
    color: #000 !important;
    margin-left:10px;
}
  .button_menu_mobile {
    display: none;
}
  .menutop nav ul li:hover .sub-level-menu {
    display: block;
}
  .right-ctn
  {
    width: 25.5%;
  }
  .f-body-center {
    width: 54.5%;
}

.left-mn
{
  width: 20%;
}
}

@media (max-width: 1199px) {
 .menutop nav ul li a
 {
   padding: 29px 10px;
 }
 .btn-top ul li a
 {
   padding: 28px 10px;
 }
}

@media (max-width: 991px) {
  .menutop
  {
    position:relative;
    z-index: 2;
  }
  .btn-top {
    display: none;
}

.button_menu_mobile {
    position: absolute;
    top: 19px;
    background: #000;
    width: 40px;
    left: 15px;
    z-index: 2;
    height: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    cursor: pointer;
}
  .fr-search
  {
  top: 1px;
  min-height: 100px;
  }
  .form_moblie_search
  {
    /* position:absolute; */
    /* right:0; */
    /* top: 0; */
    margin-top: -81px;
    z-index: 1111;
    /* position: relative; */
  }
  .logo{
    text-align:center;
    position: relative;
    z-index: 1;
  }
  .logo img{
    display:inline-block;
  }
  nav.push-menu-left {
    background: #000;
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
    max-height: 100%;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    left: -240px;
}
  ul.sub-menu-level3
  {
    display: none !important;
  }
  .sub-level-menu
  {
    display:block;
    background: none;
    top: auto;
    left: auto;
    height: auto;
    box-shadow: none;
    position: initial;
  }
  .sub-level-menu li:last-child
  {
    border-bottom:none;
  }
  .menutop nav ul li a span
  {
    margin-bottom:0;
    padding: 0;
  }
  .menutop nav ul li a
  {
    padding: 10px 10px;
    color: #fff;
    display: block;
    font-size: 14px;
  }
  .menutop nav ul li
  {
    width:100%;
    border-bottom: 1px solid #eee;
  }
 .f-last-footer ul li a
 {
 margin-bottom: 10px;
 }
 .thumb-per
 {
   width:100%;
 }
 .box-ques button.btnask
 {
   position:relative;
   top: auto;
   left: auto;
   right: auto;
   margin-top: 15px;
 }
}
@media (max-width: 767px) {
  .btn-top {
    display: none;
}

  
}
@media (max-width: 480px) {
   .f-last-footer ul li a
 {
   margin-bottom:10px;
   width: 60px;
   height: 60px;
   padding: 20px 4px;
 }
}
    
