description = "Default layout"
==
<?php
function onStart() {
    $this['facebook_link'] = getenv('FACEBOOK_LINK');
    $this['instagram_link'] = getenv('INSTAGRAM_LINK');
    $this['youtube_link'] = getenv('YOUTUBE_LINK');
    $this['twitter_link'] = getenv('TWITTER_LINK');
} 
?>
==
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description" content="AskVietnamese helps foreigner to understand more about Vietnam">
	{% if this.page.og_image %}
	<meta property="og:image" content="{{ this.page.og_image }}" />
	{% endif %}
 	<meta name="keywords" content="Vietnam Travel, Local Vietnam, How to plan a trip to Vietnam, Vietnam top sightseeings, What to do in Vietnam">
	<meta name="author" content=""/>
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<title>AskVietnamese | {{ this.page.title|replace({'Blog Post': ''}) }}</title>
	{% styles %}
	<link href="{{ 'assets/css/bootstrap.min.css'|theme }}" rel="stylesheet"/>
	<link href="{{ 'assets/css/font-awesome.css'|theme }}" rel="stylesheet"/>

<!-- 	<link href="{{ 'assets/css/style-small.css'|theme }}" rel="alternative stylesheet"/>
	<link href="{{ 'assets/css/style-large.css'|theme }}" rel="alternative stylesheet"/> -->

	<link href="{{ 'assets/css/style.css'|theme }}" rel="stylesheet"/>
	<link href="{{ 'assets/css/responsive.css'|theme }}" rel="stylesheet"/>
	<link href="{{ 'assets/css/animate.css'|theme }}" rel="stylesheet"/>
	<!-- Scripts -->
	<script src="{{ [
	'assets/javascript/jquery.js',
	'assets/js/wow.js',
	'assets/js/owl.carousel.min.js',
	'assets/js/bootstrap.min.js',
	'assets/javascript/app.js',
	'assets/js/styleswitcher.js'
	]|theme }}"></script>
	<link href="https://fonts.googleapis.com/css?family=Kanit:200,300i,400,400i,600" rel="stylesheet">
	<script>
	</script>
</head>
<body>
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.1&appId=2090641601156208&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	<div class="header">
		{%partial "header" %}
	</div><!--Header-->               
	<div class="clearfix"></div>
	<div class="container">
		{% page %}
	</div>

	<script>
	</script> 
	<footer>
		{% partial "footer" %}
	</footer><!-- /.footer -->
	<a href="#" class="scrollup"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
	{% framework extras %}
	{% scripts %}
	<script type="text/javascript">
		$(document).ready(function(){
			$(".icon-search").click(function(){
				$(".fr-search").slideToggle(300);
			});
			$(".godown").click(function(){
				$(".firstpage").slideToggle(1000);
				$("html, body").animate({ scrollTop: 0 }, 0);
			});
			$('.btnlogin').click(function(){
				$('body').addClass('blend');
			});      
		});
		$(window).scroll(function(){
			if ($(this).scrollTop() > 100) {
				$('.scrollup').fadeIn();

			} else {
				$('.scrollup').fadeOut();
			}
		}); 

		$('.scrollup').click(function(){
			$("html, body").animate({ scrollTop: 0 }, 600);
			return false;
		});
		$(window).bind('scroll', function() {
			if ($(window).scrollTop() >0) {
				$('.header').addClass('fixed');
			}
			else {
				$('.header').removeClass('fixed');
			}
		});  
		$("ul.mobile-left>li>i").click(function(){	
			if($(this).hasClass("fa-plus")){
				$(this).removeClass("fa-plus");
				$(this).addClass("fa-minus");
			}else{
				$(this).removeClass("fa-minus");
				$(this).addClass("fa-plus");
			}		
			$(this).parent().children(".submenu").slideToggle();
		});
		$("ul.mobile-left li ul li i").click(function(){	
			if($(this).hasClass("fa-plus")){
				$(this).removeClass("fa-plus");
				$(this).addClass("fa-minus");
			}else{
				$(this).removeClass("fa-minus");
				$(this).addClass("fa-plus");
			}		
			$(this).parent().children(".list-dm-thumb").slideToggle();
		});
  </script>
</body>
</html>
