description = "Default layout"
==
<?php
function onStart() {
    $this['facebook_link'] = getenv('FACEBOOK_LINK');
    $this['instagram_link'] = getenv('INSTAGRAM_LINK');
    $this['youtube_link'] = getenv('YOUTUBE_LINK');
    $this['twitter_link'] = getenv('TWITTER_LINK');
} 
?>
==
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description" content=""/>
	<meta name="author" content=""/>
	<link rel="shortcut icon" href="#"/>
	<link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/images/apple-touch-icon.png'|theme }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/images/favicon-32x32.png'|theme }">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/images/favicon-16x16.png'|theme }">
	<link rel="manifest" href="{{ 'assets/images/site.webmanifest'|theme}}">
	<link rel="mask-icon" href="{{ 'assets/images/safari-pinned-tab.svg'|theme}}" color="#5bbad5">
	<title>{{ this.page.title }}</title>
	{% styles %}
	<link href="{{ 'assets/css/bootstrap.min.css'|theme }}" rel="stylesheet"/>
	<link href="{{ 'assets/css/font-awesome.css'|theme }}" rel="stylesheet"/>
	<link href="{{ 'assets/css/style.css'|theme }}" rel="stylesheet"/>
	<link href="{{ 'assets/css/responsive.css'|theme }}" rel="stylesheet"/>
	<link href="{{ 'assets/css/animate.css'|theme }}" rel="stylesheet"/>

	<link href="https://fonts.googleapis.com/css?family=Kanit:200,300i,400,400i,600" rel="stylesheet">
	<script>
	</script>
</head>
<body>
	<div class="header">
		{%partial "header" %}
	</div><!--Header-->               
	<div class="clearfix"></div>
	<div class="container">
		{% page %}
	</div>

	<script>
	</script> 
	<footer>
		{% partial "footer" %}
	</footer><!-- /.footer -->
	<a href="#" class="scrollup"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
	<!-- Scripts -->
	<script src="{{ [
	'assets/javascript/jquery.js',
	'assets/js/wow.js',
	'assets/js/owl.carousel.min.js',
	'assets/js/bootstrap.min.js',
	'assets/javascript/app.js'
	]|theme }}"></script>
	{% framework extras %}
	{% scripts %}
	<script type="text/javascript">
		$(document).ready(function(){

			$(".icon-search").click(function(){
				$(".form_moblie_search").slideToggle(300);
			});
		});
		$(document).ready(function(){

			$(".godown").click(function(){
				$(".firstpage").slideToggle(1000);
				$("html, body").animate({ scrollTop: 0 }, 0);
			});
			$('.btnlogin').click(function(){
				$('body').addClass('blend');
			});       
		});
		$(window).scroll(function(){
			if ($(this).scrollTop() > 100) {
				$('.scrollup').fadeIn();

			} else {
				$('.scrollup').fadeOut();
			}
		}); 

		$('.scrollup').click(function(){
			$("html, body").animate({ scrollTop: 0 }, 600);
			return false;
		});
		$(window).bind('scroll', function() {
			if ($(window).scrollTop() >0) {
				$('.header').addClass('fixed');
			}
			else {
				$('.header').removeClass('fixed');
			}
		});  
		$("ul.mobile-left>li>i").click(function(){	
			if($(this).hasClass("fa-plus")){
				$(this).removeClass("fa-plus");
				$(this).addClass("fa-minus");
			}else{
				$(this).removeClass("fa-minus");
				$(this).addClass("fa-plus");
			}		
			$(this).parent().children(".submenu").slideToggle();
		});
		$("ul.mobile-left li ul li i").click(function(){	
			if($(this).hasClass("fa-plus")){
				$(this).removeClass("fa-plus");
				$(this).addClass("fa-minus");
			}else{
				$(this).removeClass("fa-minus");
				$(this).addClass("fa-plus");
			}		
			$(this).parent().children(".list-dm-thumb").slideToggle();
		});

		menuLeftOnload();
		function menuLeftOnload(){
			var checkMneu = document.getElementById("mobile-menu-toggle").checked;
			if(checkMneu == true){
				document.getElementById("mobile-menu-toggle").checked=false;
				document.getElementById('mainHideMenu').style.display= 'none';
			}	
		}
		function menuLeft(){
			var checkMneu = document.getElementById("mobile-menu-toggle").checked;
			if(checkMneu == false){
				document.getElementById('mainHideMenu').style.display= 'block';
			}
			else{
				document.getElementById("mobile-menu-toggle").checked=false;
				document.getElementById('mainHideMenu').style.display= 'none';
			}
		}
      // WOW effect loading
      wow = new WOW(
      {
      	animateClass: 'animated',
      	offset:       100,
      	callback:     function(box) {
      		console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
      	}
      }
      );
      wow.init();  
  </script>
</body>
</html>
