description = "layout for landing pages"
==
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description" content="AskVietnamese helps foreigner to understand more about Vietnam">
 	<meta name="keywords" content="Vietnam Travel, Local Vietnam, How to plan a trip to Vietnam, Vietnam top sightseeings, What to do in Vietnam">
	<meta name="author" content=""/>
	<link rel="shortcut icon" href="{{ 'assets/images/favicon-32x32.png'|theme }}"/>
	<link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/images/apple-touch-icon.png'|theme }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/images/favicon-32x32.png'|theme }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/images/favicon-16x16.png'|theme }}">
	<link rel="manifest" href="{{ 'assets/images/site.webmanifest'|theme}}">
	<link rel="mask-icon" href="{{ 'assets/images/safari-pinned-tab.svg'|theme}}" color="#5bbad5">
	<title>AskVietnamese</title>
	{% styles %}
	<link href="{{ 'assets/css/bootstrap.min.css'|theme }}" rel="stylesheet"/>
	<link href="{{ 'assets/css/font-awesome.css'|theme }}" rel="stylesheet"/>

	<link href="{{ 'assets/css/font-awesome.css'|theme }}" rel="stylesheet"/>
	<link href="{{ 'assets/css/style.css'|theme }}" rel="stylesheet"/>
	<link href="{{ 'assets/css/responsive.css'|theme }}" rel="stylesheet"/>
	<link href="{{ 'assets/css/animate.css'|theme }}" rel="stylesheet"/>

	<link href="https://fonts.googleapis.com/css?family=Kanit:200,300i,400,400i,600" rel="stylesheet">
</head>
<body>
	{% page %}
	<script>
	</script>
	<!-- Scripts -->
	<script src="{{ [
	'assets/javascript/jquery.js',
	'assets/js/wow.js',
	'assets/js/owl.carousel.min.js',
	'assets/js/bootstrap.min.js',
	'assets/javascript/app.js'
	]|theme }}"></script>
	{% framework extras %}
	{% scripts %}
	<script type="text/javascript">
      // WOW effect loading
        wow = new WOW(
        {
        animateClass: 'animated',
        offset:       100,
        callback:     function(box) {
          console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
        }
          }
        );
        wow.init();  
	  $(window).bind('scroll', function() {
	         if ($(window).scrollTop() >0) {
	             $('.header').addClass('fixed');
	         }
	         else {
	             $('.header').removeClass('fixed');
	         }
	    });  
	        
	</script>
	<script type="text/javascript">
	   
	      $(window).scroll(function(){
	            if ($(this).scrollTop() > 100) {
	                $('.scrollup').fadeIn();
	                
	            } else {
	                $('.scrollup').fadeOut();
	            }
	        }); 
	 
	        $('.scrollup').click(function(){
	            $("html, body").animate({ scrollTop: 0 }, 600);
	            return false;
	        });
	</script>
</body>
</html>
