title = "categories"
url = "/categories/:slug/:page?"
layout = "default"
is_hidden = 0
[blogPosts]
categoryFilter = "{{:slug}}"
==
function onEnd()
{
  // Optional - set the page title to the category name
  if ($this->category)
  $this->page->title = $this->category->name;
}
==
<div class="ask-main">
  <div class="container">
    <div class="ask-ftn-body">
      <div class="ask-ques">
        <div class="ask-title"><h1>{{ category.name }}</h1></div>
        <p class="ask-slo">Travel like a vietnamese</p>
        <p>Stories <span>{{ posts.count }}</span></p>
      </div><!--ask-ques-->
      <div class="ask-ques-content">
        <div class="row">
        {% for post in posts %}
         <div class="ask-ques-item col-md-3 col-sm-3 col-xs-6">
           <div class="ques-item">
            <div class="thumb-ques"><a href="/blog/post/{{post.slug}}"><img src="{{post.featured_images[0].path}}" class="img-responsive" alt="#" /></a></div>
            <time class="ques">{{ post.published_at|date('M d, Y') }}</time>
            <h3><a href="/blog/post/{{post.slug}}">{{ post.title }}</a></h3>
            <p><span><i class="fa fa-heart" aria-hidden="true"></i> 57 </span> <i class="fa fa-bookmark-o" aria-hidden="true"></i></p>
          </div> 
        </div><!--ask-ques-item-->
        {% endfor %}

      </div>
      <div class="clearfix"></div>
      <div class="page-fil">
        <ul>
          {% if posts.lastPage > 1 %}
              <ul class="pagination">
                  {% if posts.currentPage > 1 %}
                      <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
                  {% endif %}

                  {% for page in 1..posts.lastPage %}
                      <li class="{{ posts.currentPage == page ? 'active' : null }}">
                          <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                      </li>
                  {% endfor %}

                  {% if posts.lastPage > posts.currentPage %}
                      <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
                  {% endif %}
              </ul>
          {% endif %}
        </ul>
      </div>
    </div><!--ask-ques-content-->
  </div><!--f-ctn-body-->
</div>
</div><!--ask-main-->
