description = "ask main"
==

<div class="ask-main">
    <div class="container">
        <div class="row">
            <div class="list-art-home">
               <ul class="listone">
                {% for post in posts %}
                {% if post.published == 1 %}
                <li data-wow-delay="0.1s" class="wow fadeInUp animated" >
                    <div class="ask-item-art-home">
                        <div class="thumb-art-home"><a href="/blog/post/{{ post.slug }}" title="">
                            {% if post.featured_images.count %}
                            <img src="{{ post.featured_images[0].path }}" class="img-responsive" alt=""/></a></div>
                            {% endif %}
                            <div class="info-art-home">
                                <div class="sub-cat-stories">
                                    <span>                
                                        {% for category in post.categories %}
                                        <a href="/categories/{{ category.slug }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    </span>
                                    <time>{{ post.published_at|date('M d, Y') }}</time>
                                </div>
                                <h3><a href="/blog/post/{{ post.slug }}" title="">{{ post.title }}</a></h3>
                                <p class="heart"><span><i class="fa fa-heart" aria-hidden="true"></i> {{ post.godstorm_userlikes.count }} </span></p>
                                <div class="bookmark">

                                    <!-- Button trigger modal -->
                                    <button type="button" class="bntmark btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal1">
                                       <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                                   </button>
                                   {% partial "add_to_story_popup" %}
                            </div><!--bookmark-->
                            <div class="rate">
                                <span class="color_1"></span>
                                <span class="color_2"></span>
                                <span class="color_3"></span>
                                <span class="color_4"></span>
                                <span class="color_5"></span>
                            </div>
                        </div>
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul><!--listone-->
        </div><!--list-art-home-->
        <div class="clearfix"></div>
        {% if posts.lastPage > 1 %}
        <div class="page-fil">
            <ul>
                {% if posts.currentPage > 1 %}
                <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&lt; Previous</a></li>
                {% endif %}

                {% for page in 1..posts.lastPage %}
                <li class="{{ posts.currentPage == page ? 'active' : null }}">
                    <a class="{{ posts.currentPage == page ? 'onClick' : null }}" href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                </li>
                {% endfor %}

                {% if posts.lastPage > posts.currentPage %}
                <li><a class="pagination_next" href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next &gt;</a></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
        <div class="more-art-home">
            <p>lastest artical</p>
            <a href="#" title="">explore ask vietnamese</a>
        </div>
    </div>
</div>
</div><!--ask-main-->
<script type="text/javascript">
    function detectmob() { 
       if( navigator.userAgent.match(/Android/i)
           || navigator.userAgent.match(/webOS/i)
           || navigator.userAgent.match(/iPhone/i)
           || navigator.userAgent.match(/iPad/i)
           || navigator.userAgent.match(/iPod/i)
           || navigator.userAgent.match(/BlackBerry/i)
           || navigator.userAgent.match(/Windows Phone/i)
           )
       {
        return true;
        }
    else {
        return false;
    }
    }
$(document).ready(function(){
    var pathToLoad = detectmob() ? '/home_infinite/' : '/home/';

    $('.listone').infiniteScroll({
        path: function() {
            return pathToLoad + (this.loadCount + 2);
        },
        append: '.listone',
        checkLastPage: '.pagination_next',
        history: false
            // options...
        });
});
</script>