description = "ask main"
==

<div class="ask-main">
    <div class="container">
        <div class="row">
            <div class="list-art-home">
             <ul class="listone" data-infinite-scroll='{ "path": ".pagination_next", "append": ".listone", "history": false }'>
                {% for post in posts %}
                {% if post.published == 1 %}
                <li data-wow-delay="0.1s" class="wow fadeInUp animated" >
                    <div class="ask-item-art-home">
                        <div class="thumb-art-home"><a href="/blog/post/{{ post.slug }}" title="">
                            {% if post.featured_images.count %}
                            <img src="{{ post.featured_images[0].path }}" class="img-responsive" alt=""/></a></div>
                            {% endif %}
                            <div class="info-art-home">
                                <div class="sub-cat-stories">
                                    <span>                
                                        {% for category in post.categories %}
                                        <a href="/categories/{{ category.slug }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    </span>
                                    <time>{{ post.published_at|date('M d, Y') }}</time>
                                </div>
                                <h3><a href="/blog/post/{{ post.slug }}" title="">{{ post.title }}</a></h3>
                                <p class="heart"><span><i class="fa fa-heart" aria-hidden="true"></i> {{ random(100) }} </span></p>
                                <div class="bookmark">

                                    <!-- Button trigger modal -->
                                    <button type="button" class="bntmark btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal1">
                                     <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                                 </button>

                                 <!-- Modal -->
                                 <div class="modal fade popcheck" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                  <div class="modal-dialog popcheck" role="document">
                                    <div class="modal-content ">


                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <div class="title-place">Save to story list</div>

                                        <div class="modal-body">
                                            <a class="createnew" href="#" title="">Create new list</a>
                                            <div class="input-story">
                                                <input type="text" name="name" class="form-control" placeholder="Food" />
                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                
                                            </div>
                                            <div class="input-story">
                                                <input type="text" name="name" class="form-control" placeholder="Saigon" />
                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                
                                            </div>
                                            <div class="input-story">
                                                <input type="text" name="name" class="form-control" placeholder="Hanoi" />
                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                
                                            </div>
                                            
                                        </div>
                                        <div class="option-story">
                                          <div class="thum-pop-story">
                                            <a href="#" title=""><img src="images/stori.jpg" class="img-responsive" alt=""/></a>
                                        </div> 
                                        <div class="info-pop-story">
                                            <div class="sub-pop"><span>where to visit?</span>
                                                <time>10 nov 2017</time></div>
                                                <h3><a href="#" title="">Old house in Saigon (200 years old) will be repealed this month.</a></h3>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div><!--bookmark-->
                        <div class="rate">
                            <span class="color_1"></span>
                            <span class="color_2"></span>
                            <span class="color_3"></span>
                            <span class="color_4"></span>
                            <span class="color_5"></span>
                        </div>
                    </div>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul><!--listone-->
    </div><!--list-art-home-->
    <div class="clearfix"></div>
    {% if posts.lastPage > 1 %}
    <div class="page-fil">
        <ul>
            {% if posts.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&lt; Previous</a></li>
            {% endif %}

            {% for page in 1..posts.lastPage %}
            <li class="{{ posts.currentPage == page ? 'active' : null }}">
                <a class="{{ posts.currentPage == page ? 'onClick' : null }}" href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
            {% endfor %}

            {% if posts.lastPage > posts.currentPage %}
            <li><a class="pagination_next" href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next &gt;</a></li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
    <div class="more-art-home">
        <p>lastest artical</p>
        <a href="#" title="">explore ask vietnamese</a>
    </div>
</div>
</div>
</div><!--ask-main-->