description = "collection panel"
==
<div class="tab-pane" id="collections">
	{% for collection in collections %}
		<div class="item-colection col-md-6 col-sm-6 col-xs-6">
			<div class="sub-colect">#{{collection.collection_name}}</div>
			{% for post in collection.getPosts %}
				<img src="{{post.featured_images[0].path}}" class="img-responsive" alt=""/>
				<div class="info-collection">
					<h3><a href="#" title="">{{post.title}}</a></h3>
					<p><i class="fa fa-heart-o" aria-hidden="true"></i> 20</p>
				</div>
			{% endfor %}
		</div><!--item-colection-->
	{% endfor %}
</div>