description = "add a story to user's page"
==
<!-- Modal -->
<div class="modal fade popcheck" id="newCollectionModal{{post_data}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog popcheck" role="document">
    <div class="modal-content ">


        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="title-place">Create New Collection</div>

        <div class="modal-body">
            <form data-request="onCreateNewCollectionAndAddPost">
                <div class="input-story">
                    <input type="text" name="collection_name" class="form-control" value="" placeholder="New collection" />
                    <input type="hidden" name="post_id" value={{post_data}}/>
                    <button class="fa fa-heart-o" type="submit " data-dismiss="modal"></button>
                </div>    
            </form> 
        </div>
    </div>

</div>
</div>