description = "footer"
==

<footer>
    <div class="container">
        <div class="row">
              <div class="f-footer col-md-3 col-sm-4 col-xs-12">
                    <img src="{{ 'assets/images/logo-footer.png'|theme }}" alt="" class="img-responsive"/>
                    <p>The idea of ASKVIETNAMESE is very simple, it is a place where any visitor can ask any question and get the answer directly from Vietnamese people. As a team working together.</p>
              </div>
              <div class="f-footer col-md-3 col-sm-4 col-xs-12">
                    <h2><span>Support Center</span></h2>
                    <p>AskVietnamese will never charge any money from international travelers/tourists.</p>
                    <p><i class="fa fa-envelope"></i> contact@askvietnamese.vn</p>
                    <p><i class="fa fa-facebook"></i> <a href="{{ facebook_link }}">facebook.com/askvietnamese/ </a></p>
              </div>
              <div class="f-last-footer col-md-6 col-sm-4 col-xs-12">
                    <h2><span>PROJECTS THAT WE ARE DEVELOPING</span></h2>
                    <ul>
                        <li>
                            <a href="#" title=""><img src="{{ 'assets/images/logo-footer.png'|theme }}" alt="" class="img-responsive"/></a>
                        </li>
                        <li>
                            <a href="#" title=""><img src="{{ 'assets/images/logo-footer.png'|theme }}" alt="" class="img-responsive"/></a>
                        </li>
                        <li>
                            <a href="#" title=""><img src="{{ 'assets/images/logo-footer.png'|theme }}" alt="" class="img-responsive"/></a>
                        </li>
                        <li>
                            <a href="#" title=""><img src="{{ 'assets/images/logo-footer.png'|theme }}" alt="" class="img-responsive"/></a>
                        </li>
                        <li>
                            <a href="#" title=""><img src="{{ 'assets/images/logo-footer.png'|theme }}" alt="" class="img-responsive"/></a>
                        </li>
                    </ul>
              </div>
        </div>
	</div><!--container-->
</footer><!-- /.footer -->