description = "footer"
==

<div class="container">
	<div class="social-footer col-md-4 col-sm-4 col-xs-12">

		<a href="{{ facebook_link }}" title="" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
		<a href="{{ instagram_link }}" title="" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
		<a href="{{ youtube_link }}" title=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
		<a href="{{ twitter_link }}" title=""><i class="fa fa-twitter" aria-hidden="true"></i></a>

	</div>
	<div class="logo-footer col-md-4 col-sm-4 col-xs-12"><img src="{{ 'assets/images/logo2.png'|theme }}" class="img-responsive" alt=""/></div>
	<div class="copyright col-md-4 col-sm-4 col-xs-12">
		copyright 2017. all right reserved       
	</div>
</div><!--container-->