description = "header"
[session]
[blogPosts]
security = "all"
==
{% set posts = __SELF__.posts %}

<div class="header">
   
        <div class="container">
            <div class="row">
                  <div class="button_menu_mobile">
                        <i class="fa fa-bars"></i>
                    </div>
                <div class="logo col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <a href="/home" title=""><img src="{{ 'assets/images/logo.png'|theme }}" class="img-responsive" alt=""/></a>
                </div><!--logo-->
                <div class="menutop col-md-6 col-sm-6 col-xs-12">
                  
                    <nav class="push-menu-left">
                        <ul>
                            <li><a href="#"><span>Trending Searches</span></a>
                                <div class="sub-level-menu">
                                    <div class="container">
                                        <ul>
                                            <li><a href="#" title="">Transport tickets</a></li>
                                            <li><a href="#" title="">Vegetarians</a></li>
                                            <li><a href="#" title="">Safety</a></li>
                                            <li>
                                                <a href="#" title="">Ho Chi Minh City</a>
                                                <ul class="sub-menu-level3">
                                                    <li class="col-md-4 col-sm-4 col-xs-12">
                                                        <div class="item-men">
                                                            <div class="thumb-mn-level3">
                                                                <a href="#" title=""><img src="images/img1.jpg" alt="" class="img-responsive"/></a>
                                                            </div>
                                                            <h3><a href="#" title="">Where to find the best Cha Ca La Vong in Hanoi?</a></h3>
                                                            <p class="sub-ob culture"><a href="#" title="">Culture</a></p>
                                                            <time> Jul 03, 2018 | <i class="fa fa-eye"></i> 194</time>
                                                        </div>
                                                    </li>
                                                    <li class="col-md-4 col-sm-4 col-xs-12">
                                                        <div class="item-men">
                                                            <div class="thumb-mn-level3">
                                                                <a href="#" title=""><img src="images/img1.jpg" alt="" class="img-responsive"/></a>
                                                            </div>
                                                            <h3><a href="#" title="">Where to find the best Cha Ca La Vong in Hanoi?</a></h3>
                                                            <p class="sub-ob places"><a href="#" title="">Places</a></p>
                                                            <time> Jul 03, 2018 | <i class="fa fa-eye"></i> 194</time>
                                                        </div>
                                                    </li>
                                                    <li class="col-md-4 col-sm-4 col-xs-12">
                                                        <div class="item-men">
                                                            <div class="thumb-mn-level3">
                                                                <a href="#" title=""><img src="images/img1.jpg" alt="" class="img-responsive"/></a>
                                                            </div>
                                                            <h3><a href="#" title="">Where to find the best Cha Ca La Vong in Hanoi?</a></h3>
                                                            <p class="sub-ob food"><a href="#" title="">Foods</a></p>
                                                            <time> Jul 03, 2018 | <i class="fa fa-eye"></i> 194</time>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="#" title="">Mekong Delta</a></li>
                                            <li><a href="#" title="">Hanoi</a></li>
                                        </ul>
                                    </div>
                                </div><!--sub-level-menu-->
                            </li>
                            <li><a href="/whoweare"><span>Who are we</span></a></li>
                            <li><a href="/support"><span>Support Center</span></a></li>
                        </ul>
                    </nav>
                <script>
                // Menu mobile
                    $(document).ready(function() {
                        $menuLeft = $('.push-menu-left');
                        $nav_list = $('.button_menu_mobile');
                        
                        $nav_list.click(function(e) {
                            $(this).toggleClass('active');
                            $('body').toggleClass('pushmenu-push-toright');
                            $menuLeft.toggleClass('pushmenu-open');
                        });
                    
                        $('.navbar-nav').find('.parent').append('<span></span>');
                    
                        $('.navbar-nav .parent span').on("click", function() {
                            if ($(this).attr('class') == 'opened') {
                                $(this).removeClass().parent('.parent').find('ul').slideToggle();
                            } else {
                                $(this).addClass('opened').parent('.parent').find('ul').slideToggle();
                            }
                        });

                        $('#search_box').on('keyup', function(e){
                        	if (e.keyCode == 13){
                        		$('#idf').submit();
                        	}
                        })

                        $(document).on('keyup', function(e)){
                        	if (e.keyCode == 13){
                        		$('#idf').submit();
                        	}
                        }
                    });
                </script>
                    <div class="form_moblie_search">
                        <span class="icon-search"><i class="fa fa-search"></i></span>
                        <div class="fr-search">
                            <form method="post" id="idf" action="/blog/search" name="form_timkiem_sp">
                                <div class="artseed-search">
                                    <span class="btn-sr"><i class="fa fa-search"></i></span>
                                    <input value="" type="text" placeholder="It's time to AskVietnamese" name="search" id="search_box"/>
                                </div>
                            </form>
                        </div>
                    </div><!--form_moblie_search--> 
               </div><!--menutop--> 
               <div class="btn-top col-md-3 col-sm-3 col-xs-12">
                    <p><img src="images/per.png" class="img-responsive" alt=""/></p>
                    <ul>
                        <li><a href="" title=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="" title=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                        <li><a href="#" title=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    </ul>
               </div><!--btn-top-->
        </div><!--row-->
  </div><!--container-->
</div><!--Header-->   