[sociallogin]

description = "Login popup pages"
==
<!-- Modal -->
<div class="frlogin modal fade" id="{{ modalId }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-body">
				<div class="img-frlogin"><img src="{{ 'assets/images/logo2.png'|theme }}" class="img-responsive" alt=""/></div>
				<div class="bg-form">
					<p class="sloganfr">Login to Ask Vietnamese or create an account</p>
					<form action="" method="POST" class="form-login">
						<input type="text" name="name" class="form-control" placeholder="Username" />        
						<input type="text" name="email" class="form-control" placeholder="Password" />
						<div class="btn-login">
							<button type="submit" class="sentlogin">Login</button>
						</div>
						<div class="ab-fot">
							<p><input type="checkbox" name="" value=""/>Remember me</p>
							<a href="#" title="">Forgot password?</a>  
						</div>
					</form>
				</div><!--bg-form-->    
				<div class="fr-more-lg">
					<p><span>continue with</span></p>
			        {% for name, link in social_login_links %}
			            <a href="{{ link }}" class='login {{ name|lower }}'><i class="fa fa-2 fa-{{ name|lower }}"></i></a>
			        {% endfor %}
<!-- 					<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>  -->
				</div>


			</div>

		</div>
	</div>
</div><!--modal-->
