description = "top best articles"
==
<div class="ask-home-artical">
    <div class="tit-artical-home">
        <p>Top best articles</p>
        <h2>City experiences</h2>
        <a class="readnow" href="/blog/post/{{ mostVisitedPosts[0].slug }}" title="">read now</a>
    </div>
    <div class="container">
        {% for post in mostVisitedPosts %}
        <div class="content-home-artical">
            <a href="/blog/post/{{ post.slug }}" title="">                          
                {% if post.featured_images.count %}
                    <img src="{{ post.featured_images[0].path }}" class="img-responsive" alt=""/></a></div>
                {% endif %}
            </a>
            <div class="name-img-artical-home">{{ post.title }}</div>
        </div>
        {% endfor %}
    </div>
</div><!--ask-home-artical-->