description = "top best articles"
==
<div class="ask-home-artical">
    <div class="tit-artical-home">
        <p>Top best articals</p>
        <h2>City experiences</h2>
        <a class="readnow" href="" title="">read now</a>
    </div>
    <div class="container">
        <div class="content-home-artical">
            <a href="#" title=""><img src="images/banhmi.jpg" class="img-responsive" alt=""/></a>
            <div class="name-img-artical-home">Bánh mì</div>
        </div>
    </div>
</div><!--ask-home-artical-->